<a href="https://colab.research.google.com/github/HRashmika/Bank_Prediction/blob/main/ML_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = 'bank.csv'
data_bank = pd.read_csv(file_path, delimiter=';')

# For debugging
print("Original DataFrame:")
print(data_bank.head())

# After performing one-hot encoding, keep 'y' separate for splitting:
# One-hot encoding (without dropping 'y')
binary_columns = ['default', 'housing', 'loan']  # Remove 'y' from binary_columns
data_bank = pd.get_dummies(data_bank, columns=binary_columns, drop_first=True)

# O and 1 for binary columns
binary_cols = [col for col in data_bank.columns if data_bank[col].dtype == 'bool']
for col in binary_cols:
    data_bank[col] = data_bank[col].astype(int)

# Label encoding
label_columns = ['job', 'marital', 'education', 'contact', 'month', 'poutcome']
label_encoder = LabelEncoder()
label_mappings = {}

for col in label_columns:
    data_bank[col] = label_encoder.fit_transform(data_bank[col])
    label_mappings[col] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

print("\nLabel Mappings:")
for col, mapping in label_mappings.items():
    print(f"{col}: {mapping}")

print("\nTransformed DataFrame:")
print(data_bank.head())

# Duplicates
duplicates = data_bank[data_bank.duplicated()]
if not duplicates.empty:
    print("\nDuplicate Rows Found:")
    print(duplicates)
    data_bank = data_bank.drop_duplicates()
    print("\nDuplicates removed. Current shape of DataFrame:", data_bank.shape)
else:
    print("\nNo duplicate rows found.")

# Missing values
missing_values = data_bank.isnull().sum()
if missing_values.any():
    print("\nMissing Values Found:")
    print(missing_values[missing_values > 0])

    # Replace all missing values with the string 'non'
    for col in data_bank.columns:
        data_bank[col].fillna("non", inplace=True)
else:
    print("\nNo missing values found.")

# Valid or invalid, checked with label encoding
columns_to_check = ['job', 'marital', 'education', 'contact', 'poutcome']
for col in columns_to_check:
    max_label = len(label_mappings[col]) - 1
    invalid_values = data_bank[col][(data_bank[col] < 0) | (data_bank[col] > max_label)].unique()
    if invalid_values.size > 0:
        print(f"\nInvalid values in column '{col}': {invalid_values}")
        data_bank = data_bank[~data_bank[col].isin(invalid_values)]
    else:
        print(f"\nNo invalid values found in column '{col}'.")


# Split the data into training (80%) and testing (20%) sets
X = data_bank.drop('y', axis=1, errors='ignore')  # Ensure 'y' is ignored if it was dropped
y = data_bank.get('y')  # Extract 'y' from the DataFrame

if y is not None:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    train_data_bank = X_train.copy()
    train_data_bank['y'] = y_train

    test_data_bank = X_test.copy()
    test_data_bank['y'] = y_test


else:
    print("\n'Y' column is missing, cannot split data.")

print("\nFinal DataFrame Info:")
data_bank.info()
print("\nFinal DataFrame Preview:")
print(data_bank.head())

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

# File path
file_path = 'bank-additional-full.csv'
data_add = pd.read_csv(file_path, delimiter=';')

# Debugging: print the original data
print("Original DataFrame:")
print(data_add.head())

# Drop the 'duration' column
data_add = data_add.drop('duration', axis=1, errors='ignore')  # Drop column if it exists

# One-hot encoding for binary columns (encoding 'yes'/'no' columns as 1 and 0)
binary_columns = ['default', 'housing', 'loan']
data_add = pd.get_dummies(data_add, columns=binary_columns, drop_first=True)

# Convert boolean columns (if any) to integers
binary_cols = [col for col in data_add.columns if data_add[col].dtype == 'bool']
for col in binary_cols:
    data_add[col] = data_add[col].astype(int)

# Label encoding for categorical columns (job, marital, education, etc.)
label_columns = ['job', 'marital', 'education', 'contact', 'month', 'day_of_week', 'poutcome']
label_encoder = LabelEncoder()
label_mappings = {}

for col in label_columns:
    data_add[col] = label_encoder.fit_transform(data_add[col].fillna('unknown'))  # Filling NaNs with 'unknown' before encoding
    label_mappings[col] = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

# Print label mappings for reference
print("\nLabel Mappings:")
for col, mapping in label_mappings.items():
    print(f"{col}: {mapping}")

# Encode 'y' column as 1 for 'yes' and 0 for 'no'
data_add['y'] = data_add['y'].map({'yes': 1, 'no': 0})

# Check and handle duplicates (rows where all values are identical)
duplicates = data_add[data_add.duplicated()]
if not duplicates.empty:
    print("\nDuplicate Rows Found:")
    print(duplicates)
    data_add = data_add.drop_duplicates()  # Remove duplicates
    print("\nDuplicates removed. Current shape of DataFrame:", data_add.shape)
else:
    print("\nNo duplicate rows found.")

# Check and handle missing values
missing_values = data_add.isnull().sum()
if missing_values.any():
    print("\nMissing Values Found:")
    print(missing_values[missing_values > 0])
    # Fill missing values with 'unknown' for categorical and 'non' for other columns
    for col in data_add.columns:
        if data_add[col].dtype == 'object':
            data_add[col].fillna('unknown', inplace=True)
        else:
            data_add[col].fillna('non', inplace=True)
else:
    print("\nNo missing values found.")

# Check for invalid values in label-encoded columns
columns_to_check = label_columns
for col in columns_to_check:
    max_label = len(label_mappings[col]) - 1
    invalid_values = data_add[col][(data_add[col] < 0) | (data_add[col] > max_label)].unique()
    if invalid_values.size > 0:
        print(f"\nInvalid values in column '{col}': {invalid_values}")
        data_add = data_add[~data_add[col].isin(invalid_values)]  # Remove rows with invalid values
    else:
        print(f"\nNo invalid values found in column '{col}'.")

# Min-Max Normalization (scaling the features to the range [0, 1])
scaler = MinMaxScaler()

# Apply scaling only to numeric features (excluding the target 'y')
features_to_scale = data_add.drop('y', axis=1)  # Excluding 'y' from scaling
data_add[features_to_scale.columns] = scaler.fit_transform(features_to_scale)

# Split the data into features (X) and target (y)
X = data_add.drop('y', axis=1, errors='ignore')  # Ensure 'y' is ignored if it was dropped
y = data_add.get('y')  # Extract 'y' from the DataFrame

# Perform train-test split if the target column 'y' exists
if y is not None:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Combine X and y for training and testing datasets
    train_data_add = X_train.copy()
    train_data_add['y'] = y_train

    test_data_add = X_test.copy()
    test_data_add['y'] = y_test

    print("\nTraining Data Shape:", train_data_add.shape)
    print("Testing Data Shape:", test_data_add.shape)
else:
    print("\n'Y' column is missing, cannot split data.")

# Print final DataFrame information
print("\nFinal DataFrame Info:")
data_add.info()
print("\nFinal DataFrame Preview:")
print(data_add.head())

Original DataFrame:
   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]

Label Mappings:
job: {'admin.': 0, 'blue-collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 'self-employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10, 'unknown': 11}
marital: {'divorced': 0, 'married': 1, 'single': 2, 'unknown': 3}
education: {'basic.4y': 0, 'basic.6y': 1, 'basic.9y': 2, 'high.school': 3, 'illiterate': 4, 'professional.course': 5, 'university.degree': 6, 'unknown': 7}
contact: {'cellular': 0, 'telephone': 1}
month: {'apr': 0, 'aug': 1, 'dec': 2, 'jul': 3, 'jun': 4, 'mar': 5, 'may': 6, 'nov': 7, 'oct': 8, 'sep': 9}
day_of_week: {'fri': 0, 'mon': 1, 'thu': 2, 'tue': 3, 'wed': 4}
poutcome: {'failure': 0, 'nonexistent': 1, 'success': 2}

Duplicate Rows Found:
       age  job  marital  education  contact  month  day_of_week  campaign  \
10      41    1        1          7        1      6            1         1
11      25    7        2          3        1      6            1         1
16      35    1        1          1        1      6            1         1
31      59    9        1          7        1      6            1         1
104     52    0        0          6        1      6            1         1
...    ...  ...      ...        ...      ...    ...          ...       ...
39985   27    0        2          3        0      4            3         2
40401   31    8        2          7        0      1            2         2
40404   41    2        1          6        0      1            2         1
40806   35    9        1          5        0      9            2         1
40840   32    0        2          6        0      9            1         4

       pdays  previous  ...  cons.conf.idx  euribor3m  nr.employed  y  \
10       999         0  ...          -36.4      4.857       5191.0  0
11       999         0  ...          -36.4      4.857       5191.0  0
16       999         0  ...          -36.4      4.857       5191.0  0
31       999         0  ...          -36.4      4.857       5191.0  0
104      999         0  ...          -36.4      4.857       5191.0  0
...      ...       ...  ...            ...        ...          ... ..
39985    999         0  ...          -39.8      0.761       4991.6  1
40401    999         0  ...          -38.3      0.904       4991.6  1
40404    999         0  ...          -38.3      0.904       4991.6  1
40806    999         2  ...          -37.5      0.878       4963.6  0
40840    999         0  ...          -37.5      0.879       4963.6  0

       default_unknown  default_yes  housing_unknown  housing_yes  \
10                   1            0                0            0
11                   0            0                0            1
16                   0            0                0            1
31                   0            0                0            1
104                  0            0                0            0
...                ...          ...              ...          ...
39985                0            0                0            0
40401                0            0                0            1
40404                0            0                0            1
40806                0            0                0            1
40840                0            0                0            1

       loan_unknown  loan_yes
10                0         0
11                0         0
16                0         0
31                0         0
104               0         0
...             ...       ...
39985             0         0
40401             0         0
40404             0         0
40806             0         0
40840             0         0

[1784 rows x 23 columns]

Duplicates removed. Current shape of DataFrame: (39404, 23)

No missing values found.

No invalid values found in column 'job'.

No invalid values found in column 'marital'.

No invalid values found in column 'education'.

No invalid values found in column 'contact'.

No invalid values found in column 'month'.

No invalid values found in column 'day_of_week'.

No invalid values found in column 'poutcome'.

Training Data Shape: (31523, 23)
Testing Data Shape: (7881, 23)

Final DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 39404 entries, 0 to 41187
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              39404 non-null  float64
 1   job              39404 non-null  float64
 2   marital          39404 non-null  float64
 3   education        39404 non-null  float64
 4   contact          39404 non-null  float64
 5   month            39404 non-null  float64
 6   day_of_week      39404 non-null  float64
 7   campaign         39404 non-null  float64
 8   pdays            39404 non-null  float64
 9   previous         39404 non-null  float64
 10  poutcome         39404 non-null  float64
 11  emp.var.rate     39404 non-null  float64
 12  cons.price.idx   39404 non-null  float64
 13  cons.conf.idx    39404 non-null  float64
 14  euribor3m        39404 non-null  float64
 15  nr.employed      39404 non-null  float64
 16  y                39404 non-null  int64
 17  default_unknown  39404 non-null  float64
 18  default_yes      39404 non-null  float64
 19  housing_unknown  39404 non-null  float64
 20  housing_yes      39404 non-null  float64
 21  loan_unknown     39404 non-null  float64
 22  loan_yes         39404 non-null  float64
dtypes: float64(22), int64(1)
memory usage: 7.2 MB

Final DataFrame Preview:
        age       job   marital  education  contact     month  day_of_week  \
0  0.481481  0.272727  0.333333   0.000000      1.0  0.666667         0.25
1  0.493827  0.636364  0.333333   0.428571      1.0  0.666667         0.25
2  0.246914  0.636364  0.333333   0.428571      1.0  0.666667         0.25
3  0.283951  0.000000  0.333333   0.142857      1.0  0.666667         0.25
4  0.481481  0.636364  0.333333   0.428571      1.0  0.666667         0.25

   campaign  pdays  previous  ...  cons.conf.idx  euribor3m  nr.employed  y  \
0       0.0    1.0       0.0  ...        0.60251   0.957379     0.859735  0
1       0.0    1.0       0.0  ...        0.60251   0.957379     0.859735  0
2       0.0    1.0       0.0  ...        0.60251   0.957379     0.859735  0
3       0.0    1.0       0.0  ...        0.60251   0.957379     0.859735  0
4       0.0    1.0       0.0  ...        0.60251   0.957379     0.859735  0

   default_unknown  default_yes  housing_unknown  housing_yes  loan_unknown  \
0              0.0          0.0              0.0          0.0           0.0
1              1.0          0.0              0.0          0.0           0.0
2              0.0          0.0              0.0          1.0           0.0
3              0.0          0.0              0.0          0.0           0.0
4              0.0          0.0              0.0          0.0           0.0

   loan_yes
0       0.0
1       0.0
2       0.0
3       0.0
4       1.0

[5 rows x 23 columns]

<ipython-input-20-b2cada13de8a>:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_add[features_to_scale.columns] = scaler.fit_transform(features_to_scale)

In [ ]:

output_path = '/content/drive/My Drive/ML_CW/transformed_add.csv'
data_add.to_csv(output_path, index=False)

print(f"Transformed data saved to: {output_path}")

train_data_add.to_csv('/content/drive/My Drive/ML_CW/train_data_add.csv', index=False)
test_data_add.to_csv('/content/drive/My Drive/ML_CW/test_data_add.csv', index=False)
print("\nTraining and Testing Data Saved:")
print(f"Training Data: /content/drive/My Drive/ML_CW/train_data_add.csv")
print(f"Testing Data: /content/drive/My Drive/ML_CW/test_data_add.csv")

Transformed data saved to: /content/drive/My Drive/ML_CW/transformed_add.csv

Training and Testing Data Saved:
Training Data: /content/drive/My Drive/ML_CW/train_data_add.csv
Testing Data: /content/drive/My Drive/ML_CW/test_data_add.csv

In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# File paths for training and testing data
train_file_path = '/content/drive/My Drive/ML_CW/train_data_add.csv'
test_file_path = '/content/drive/My Drive/ML_CW/test_data_add.csv'

# Load training and testing data
train_data = pd.read_csv(train_file_path)
test_data = pd.read_csv(test_file_path)

X_train = train_data.drop('y', axis=1)
y_train = train_data['y']

X_test = test_data.drop('y', axis=1)
y_test = test_data['y']

# Initialize Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# fit the classifier
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")


# Output to debug
# Classification Report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Confusion Matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# Feature Importances
feature_importances = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance': rf_classifier.feature_importances_
}).sort_values(by='Importance', ascending=False)

print("\nTop Features:")
print(feature_importances.head())

Accuracy: 0.88

Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.96      0.94      6963
           1       0.51      0.28      0.36       918

    accuracy                           0.88      7881
   macro avg       0.71      0.62      0.65      7881
weighted avg       0.86      0.88      0.87      7881


Confusion Matrix:
[[6716  247]
 [ 661  257]]

Top Features:
      Feature  Importance
0         age    0.183528
14  euribor3m    0.141186
7    campaign    0.088027
1         job    0.084328
3   education    0.074619